<footer class="footer">
    <div class="container">
        <a class="footer-logo" href=""><img class="footer-img" src="./img/logo-footer.svg" alt="logo"></a>
        <div class="footter-top">
            <ul class="footer-nav-list">
                <li class="footer-nav-item"><a class="footer-nav-link" href="#">Home</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#">About</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#">Service</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#">Menu</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#">Contact</a></li>
            </ul>
            <div class="footer-form-wrap">
                <p class="footer-form-title">Subscribe</p>
                <form class="footer-form">
                    <label class="footer-form-label" for="e-mail">
                        <input class="footer-form-input" type="text" placeholder="Enter your email" id="e-mail">
                    </label>
                    <button class="footer-form-btn" type="submit">Subscribe</button>
                </form>
                <p class="footer-form-subtitle">By subscribing you agree to with our
                    <a class="footer-form-link" href="/">Privacy Policy</a>
                </p>
            </div>
        </div>
        <div class="footer-bottom">
            <ul class="footer-bottom-list">
                <li class="footer-bottom-item"><a class="footer-bottom-link" href="/">Privacy Policy</a></li>
                <li class="footer-bottom-item"><a class="footer-bottom-link" href="/">Terms of Service</a></li>
                <li class="footer-bottom-item"><a class="footer-bottom-link" href="/">Cookies Settings</a></li>
            </ul>
            <p class="footer-bottom-txt">2022 FoodSta. All right reserved.</p>
        </div>
        <img class="footer-decor-left" src="./img/footer/footer_mob_02.png" alt="" width="104" height="259">
        <img class="footer-decor-right" src="./img/footer/footer_mob_01.png" alt="" width="110" height="116">
    </div>
</footer>