:root {
    --primaryTxt: #2C2C2C;
    --primaryColor1: #FEFEFE;;
    --primaryColor2: #FFE550;
    --accentYellow: #FFE450;
    --elementsColor: #BBF330;
    --accentColor: #7EB101;
    --bgbtn: #ffffff;
    --black:#000;
}